@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Grand+Hotel&display=swap");

:root {
  --ff-primary: "Catamaran";
  --ff-secondary: "Grand Hotel";
  --clr-primary: #668833;
  --clr-primary-light: #bbcca4;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #ffffff;
  --clr-magyar: linear-gradient(red, white, green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  /* background: var(--clr-white); */
  background-color: var(--clr-white);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}

header {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* background: var(--clr-magyar); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */

  background: linear-gradient(#00000099, #00000099), url(images/main-bcg.jpeg);
}

header section h2 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-size: 2.5rem;
  text-transform: capitalize;
}

header section h1 {
  color: var(--clr-white);
  font-family: var(--ff-primary);
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  max-width: 42rem;
  margin-bottom: 2.5rem;
}

header section a {
  color: var(--clr-white);
  background: var(--clr-primary);
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding: 0.75rem;
}

.tulajdonsagok {
  background: var(--clr-grey-10);
  /* background: var(--clr-magyar); */
  padding: 4rem 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tulajdonsag i {
  font-size: 2.5rem;
  color: var(--clr-primary);
  padding-bottom: 1rem;
}

.tulajdonsag p {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}
