@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Grand+Hotel&display=swap");

:root {
  --ff-primary: "Catamaran";
  --ff-secondary: "Grand Hotel";
  --clr-primary: #668833;
  --clr-primary-light: #a3b784;
  --clr-grey-1: #102a42;
  --clr-grey-5: #6f7f8d;
  --clr-grey-10: #e7e9ec;
  --clr-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  background-color: var(--clr-white);
  line-height: 1.5;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    text-transform: capitalize;
    letter-spacing: 0.5rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
header {
    background: url(images/main-bcg.jpeg);
    height: 100vh;
}
